.navbar-custom{
    background-color: #56B870;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width:300px;
    height:300px;
    transition: all 0.5s;
    box-shadow: 4px 4px 5px black;
    padding:100px;
    margin:20px;
    border-radius: 8px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.zone{
    background-color: #F3AAAA;
    text-align: center;
    min-height:20px;

}
